node_modules
dist
*.tsbuildinfo
.env
.env.local
.env.development.local
convex/.env.local
client/.env
client/.env.local
client/.env.development.local
server/.env
.DS_Store
.netlify/*
!.netlify/state.json
