biopython==1.84
fastapi==0.115.8
numpy==2.2.3
openai==1.109.1
pandas==2.2.3
pdfplumber==0.11.5
pgmpy==0.1.26
pydantic==2.10.6
pytest==8.3.4
python-dotenv==1.0.1
python-multipart==0.0.20
scipy==1.15.2
supabase==2.13.0
uvicorn[standard]==0.34.0
